<form action="/names" method="post">
  <input type="text" name="player_1_name" placeholder="Dave">
  <input type="text" name="player_2_name" placeholder="Mittens">
  <input type="submit" value="Submit">
</form>
