<form action="/named-cat" method="post">
  <input type="text" name="name" placeholder="Curiosity"><br>
  <input type="text" name="age" placeholder="25"><br>
  <input type="submit" value="Submittttt">
</form>
