<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <title>Super cool battle game!</title>
  </head>

  <body>
    <h1>Super cool battle game</h1>
    <%= yield %>
    <div class="filtered-bg"></div>
  <body>
</html>
