<h1>Hello <%=@player1.name%> and hello <%=@player2.name%></h1>
<div>
  <h2><%= @player2.name %>'s hitpoints: <%= @player2.hitpoints %></h2>
</div>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>
